* {
    list-style: none;
  }
  .container {
    color: #5b3422;
    padding: 100px 150px;
    background-color: #ede1d5;
    text-align: center;
  }
  .container h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    text-align: center;
    margin: 0 -150px;
    margin-bottom: 200px;
    font-weight: normal;
    padding: 40px 0;
    background-color: #9d6d4e;
    color: #C7baab;
  }
  .container .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container .card_container .card {
    perspective: 1000px;
    width: 350px;
    height: 515px;
    margin-bottom: 150px;
  }

  .container .card_container .card:hover .card_inner {
    transform: rotateY(180deg);
  }
  .container .card_container .card_inner {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
  }
  .container .card_container .card_inner .front,
  .container .card_container .card_inner .back {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    backface-visibility: hidden;
  }
  .container .card_container .card_inner .front {
    font-size: 25px;
    line-height: 36px;
    background-color: #5e3817;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  .container .card_container .card_inner .front span {
    position: absolute;
    margin: auto 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .container .card_container .card_inner .back {
    font-size: 16px;
    line-height: 30px;
    background-color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .container .card_container .card_inner .americano {
    background-image: url('../images/americano.jpg');
    background-position: center;
    background-size: cover;
  }
  .container .card_container .card_inner .latte {
    background-image: url('../images/latte.jpeg');
    background-position: center;
    background-size: cover;
  }
  .container .card_container .card_inner .espresso {
    background-image: url('../images/espresso.jpg');
    background-position: center;
    background-size: cover;
  }
  .container .card_container .card_inner .mocha {
    background-image: url('../images/mocha.jpeg');
    background-position: center;
    background-size: cover;
  }
  .container .card_container .card_inner .cappuccino {
    background-image: url('../images/cappuccino.jpg');
    background-position: center;
    background-size: cover;
  }
  .container .card_container .card_inner .macchiato {
    background-image: url('../images/macchiato.jpeg');
    background-position: center;
    background-size: cover;
  }
  .container button {
    background-color: #C7baab;
    border: none;
    color: #5e3817;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    font-size: 18px;
    margin-top: 5.5em;
    border-radius: 10px;
  }
  .container button a{
    color: #5e3817;
    text-decoration: none;
  }
  .container .step {
    background-color: #C7baab;
    border: none;
    color: #5e3817;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    font-size: 18px;
    margin-top: 5.5em;
    border-radius: 10px;
    margin-top: 200px;
    transition: 0.5s;
    margin-right: 50px;
    cursor: pointer;
  }
  .container .step:last-child {
    margin-right: 0;
  }
  .container .step:hover {
    opacity: 0.7;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  /* scrollbar-track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  /* scrollbar-thumb */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #ede1d5;
  }

  .card_container .card{
    margin-bottom: 2rem;
  }

  input[type="radio"] {
    width: 100%;
    margin: 8px 0;
  }