html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.container .home_container {
  display: flex;
  transition: 1s;
  margin-top: 0px;
}
.container .home_container .home_text {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .home_container .home_text h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  text-align: center;
  margin-bottom: 0.3rem;
  font-weight: normal;
}
.container .home_container .home_text h2 {
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 5.5rem;
  font-weight: normal;
}
.container .home_container .home_text button {
  background-color: #C7baab;
  border: none;
  color: #5e3817;
  padding: 15px 35px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}
.container .home_container .home_text button:hover {
  opacity: 0.7;
}
.container .home_container .home_bg {
  width: 50%;
  height: 100vh;
  background-image: url('../images/homepage_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container .coffee_step_container {
  box-sizing: border-box;
  background-color: #C7baab;
  height: 100vh;
}
.container .coffee_step_container .step_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container .coffee_step_container .step_container .step_item {
  width: 30%;
  height: 40%;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
.container .coffee_step_container .step_container .step_item:nth-child(2n - 1) {
  margin-right: 100px;
}
.container .coffee_step_container .step_container .step_item:hover {
  transform: scale(1.1);
}
.container .coffee_step_container .step_container .step_item img {
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.container .coffee_step_container .step_container .step_item .name {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #5e3817;
  font-weight: 700;
  font-size: 19px;
  background-color: rgba(255, 255, 255, 1);
  left: 0;
  bottom: 0;
  z-index: 99;
}

nav {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}
nav ul{
  padding-left: 0;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a {
  font-size: 18px;
}


@media screen and (max-width: 768px) {
  .container {
    text-align: center;
  }

  .container .home_container {
    display: grid;
    transition: 1s;
    margin-top: 0px;
  }
  .container .home_container .home_text {
    width: auto;
}

.container .home_container .home_text h1 {
    margin: auto;
}

.container .home_container .home_bg {
    width: auto;
    height: 50vh;
}

.container .coffee_step_container {
  height: 50vh;
}

nav ul {
  flex-flow: column wrap;
}

}